html, body {
	background: #ffc200;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color: #0f0909;
}

.container {
	height: 100%;
}
.social-btn {
	display:flex;
	flex: auto;
	align-items: center;
	margin: 0.5em;
	justify-content: space-around;
	font-size: 0.7em;
	padding: 0.5em;
}

.social-menu {
	display: flex;
	margin: 2px;
	height: 90%;
	flex-direction: column;
	align-items: center;
}

.social-btn h2 {
	margin: 2px;
	font-size: 2em;
}

@media (min-width: 550px) and (max-width: 768px) {
  .social-menu {
    flex-direction: row;
  }

  .social-btn h2 {
		margin: 2px;
		font-size: 1.8em;
	}
}

	#div-menu {
		width: 100%;
	}
}

@media (min-width: 768px) or (orientation: landscape) {
  .social-menu {
    flex-direction: column;
	}

	.social-btn h2 {
		margin: 2px;
		font-size: 2em;
	}
}

a,
h2 a,
a:focus,
h2 a:focus {
	color: #0f0909;
	text-decoration: none;
}

a:visited,
h2 a:visited {
	color: #0f0909;
	background-color: transparent;
	text-decoration: none;
}


h2 a:hover {
	padding: 10px;
	background: #0f0909;
	color: #ffc200;
	text-decoration: none;
}

a:active,
h2 a:active {
	color: #0f0909;
	background: transparent;
	text-decoration: none;
}




